* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	justify-content: center;
	display: flex;
}

.App {
	width: 800px;
}

.post {
	justify-content: space-between;
	display: flex;
	margin-top: 15px;
	border: 2px solid teal;
	padding: 15px;
	align-items: center;
}

.postItem {
	text-align: center;
}